<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/javascripts/index.css'/>
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div id="header">
    <a class="add-note" title="添加笔记" href="#">
        <span class="fa fa-plus"></span> 添加
    </a>
    <ul class="user-area">
        <li>
            <a class="login" title="GitHub登录" href="/auth/github">
                <span class="fa fa-github"></span>GitHub登录
            </a>
        </li>
    </ul>

</div>
<div id="content"></div>
<div class="indexBg"></div>
<!--<div class="twinkling"></div>-->
<script src="/javascripts/index.js"></script>
</body>
</html>
