/* google 的颜色真心美 */
$g: rgba(66, 133, 244, .8);
$ox1: rgba(234, 67, 53, .8);
$ox2: rgba(251, 188, 5, .8);
$l: rgba(52, 168, 83, .8);

.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  color: $g;
  background: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px $g;
  letter-spacing: 1px;
  display: none;
}